<div class="font-italic m-3 font-weight-bold">amelchenko1300 &#9829;</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="row m-4">
    <div class='col-12'>
      <h4>Информация</h4>
    </div>
    <div class='col-12'>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Obcaecati labore, corrupti asperiores eum aliquam consequatur?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, 
      iusto accusantium quos assumenda omnis ipsam, similique voluptatem 
      blanditiis quaerat illum dolor iste possimus! Accusamus porro veniam 
      illum magnam eaque corporis.ipsum dolor sit amet consectetur adipisicing elit. 
      Natus cumque eos recusandae ab asperiores repellendus. Aperiam voluptate, sint 
      praesentium veritatis aliquam explicabo repudiandae, dolor inventore 
      necessitatibus iusto facere. Id, excepturi.
    </div>
  </div>
  <div class="row mt-3 mb-5">
    <app-add-form-purchase (addSale)="onAddSale($event)"></app-add-form-purchase>
  </div>
  <app-table-purchases class="table-danger" [sale]="getByName(myPurchaseType.not_bought)"></app-table-purchases>
  <app-table-purchases class="table-success" [sale]="getByName(myPurchaseType.bought)"></app-table-purchases>
</div>